.like_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.like_wrap-thumb {
	cursor: pointer;

}
.icon-thumb-big {
	color: #af87ff!important;
}
.like_wrap-num {
	color: #af87ff!important;
}